:root {
    --header-margin-tb: 50px;
    --header-margin-lr: 100px;
    --h-margin: 150px;
    --p-margin: 100px;
    --header-font-size: 40px;
}

@font-face {
    font-family: "Rostov";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Rostov"), /* Если не получилось, загрузит woff2 */
    url("./fonts/rostov.woff2") format("woff2"), /* Если браузер не поддерживает woff2, загрузит woff */
    url("./fonts/rostov.woff") format("woff");
}

html {
    background-color: rgba(255, 246, 250, 1);
    height: 100%;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

body {
    font-family: "Rostov";
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.body_wrapper {
    width: 100%;
    height: 100%;
}

.header {
    width: auto;
    height: 100%;
}

header {
    max-width: 1440px;
    /* position: fixed; */
    width: 100%;
    margin-top: 0;
}

header>div {
    margin: var(--header-margin-tb) auto;
    display: flex;
    width: 86%;
    justify-content: space-between;
    padding-bottom: var(--header-margin-tb);
    padding-top: calc(- var(--header-margin-tb))
}

a {
    font-family: 'Rostov';
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-font-size);
    line-height: var(--header-font-size);
    text-decoration: none;
    color: black;
}

.header_buttons>a {
    margin-right: 50px;
}

.header_buttons>a:last-child {
    margin-right: 0;
}

main {
    margin: 0;
}

.main_wrapper {
    width: 86%;
    /* margin: calc(var(--header-font-size) + var(--header-margin-tb)*2) var(--header-margin-lr) 0; */
    margin: calc(var(--header-font-size) + var(--header-margin-tb)*2) auto 0;
}

h2 {
    font-family: 'Rostov';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    margin: var(--h-margin) 0;
}

span,
p {
    font-family: 'Rostov';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
}

.choose_category {
    display: flex;
    align-items: flex-end;
    margin-bottom: var(--p-margin);
}

.arrow {
    margin-left: 10px;
    width: var(--header-font-size);
    height: var(--header-font-size);
}

.pallet {
    width: 25vw;
    max-width: 365px;
    height: 37vw;
    max-height: 530px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

.pallet:hover{
    -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.blur>span {
    text-align: center;
    font-size: 3vw;
}

.gd {
    background-image: url(../grafic-design/pic_new.png);
    background-position: top left;
    background-repeat: no-repeat;
}

.wd{
    background-image: url(../web-design/Pics/ya.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.il{
    background-image: url(../illustrations/pics/ship.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.blur {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    /* Make sure this color has an opacity of less than 1 */
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    /* This be the blur */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.categories_wrapper {
    display: flex;
    justify-content: space-between;
}

p {
    margin: var(--header-margin-lr) 0;
}

.main_image {
    height: 48vw;
    width: 48vw;
    margin: 0 auto;
}

.main_image>img {
    height: 48vw;
    width: 48vw;
    /* margin: 0 auto; */
}

.contacts_wrapper {
    margin: var(--header-margin-lr) auto;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contacts_wrapper>a {
    margin-left: 3.5vw;
}

.contacts_wrapper>a>img {
    width: 7vw;
    height: 7vw;
}

.contacts_wrapper>a:first-child {
    margin-left: 0;
}

@media (min-width: 1440px) {
    .blur>span {
        text-align: center;
        font-size: 48px;
    }
    .main_image {
        height: 700px;
        width: 700px;
        margin: 0 auto;
    }
    .main_image>img {
        height: 700px;
        width: 700px;
        margin: 0 auto;
    }
    .contacts_wrapper>a {
        margin-left: var(--header-margin-tb);
    }
    .contacts_wrapper>a>img {
        width: 100px;
        height: 100px;
    }
}