:root {
    --header-margin-tb: 50px;
    --header-margin-lr: 100px;
    --h-margin: 150px;
    --p-margin: 100px;
    --header-font-size: 40px;
}

@font-face {
    font-family: "Rostov";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Rostov"), /* Если не получилось, загрузит woff2 */
    url("./fonts/rostov.woff2") format("woff2"), /* Если браузер не поддерживает woff2, загрузит woff */
    url("./fonts/rostov.woff") format("woff");
}

html{
    background-color: rgba(255, 246, 250, 1);
    height: 100%;
}

body {
    font-family: "Rostov";
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

header {
    max-width: 1440px;
    /* position: fixed; */
    width: 100%;
    margin-top: 0;
}

header>div {
    margin: var(--header-margin-tb) var(--header-margin-lr) 0;
    display: flex;
    width: auto;
    justify-content: space-between;
    padding-bottom: var(--header-margin-tb);
}

a {
    font-family: 'Rostov';
    font-style: normal;
    font-weight: 400;
    font-size: var(--header-font-size);
    line-height: var(--header-font-size);
    text-decoration: none;
    color: black;
}

.header_buttons>a {
    margin-right: 50px;
}

.header_buttons>a:last-child {
    margin-right: 0;
}

main {
    margin: 0;
}

.main_wrapper {
    margin: calc(var(--header-font-size) + var(--header-margin-tb)*2) var(--header-margin-lr) 0;
}

h2 {
    font-family: 'Rostov';
    font-style: normal;
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
    margin: var(--h-margin) 0;
}